body
    {
        background-color: #ebebeb;
    }
a
    {
        color: #14436F !important;
        text-decoration: none;
    }
a:hover
    {
        color: #B99557!important;
        text-decoration: none;
    }
a.deleteLink:hover
    {
        color: #f80404!important;
        text-decoration: none;
    }

h5
    {
        color: #14436F;
    }
ul
    {
        list-style-type: none;
    }
th
    {
         text-align:center !important;
        color: #ffffff !important;
        background-color: #14436F !important;
    }
td
    {
        text-align:center !important;
        color: #14436F !important;
    }

/* bootstrap modifications */
.form-control:focus
    {
        border-color: #B99557;
        box-shadow: 0 0 0 0.1rem rgba(185, 149, 87, 0.25);
    }
.accordion
    {
        --bs-accordion-active-bg:none !important;
        --bs-accordion-btn-focus-box-shadow:none !important;
    }


.accordion-item
    {
        border: none !important;
    }
